/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset finish */
.clear-fix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clear-fix{
	zoom: 1;
}

.g-tip{
	width: 100%;
	height: 36px;
	background: #f3f3f3;
	overflow: hidden;
}
.m-tip{
	width: 1205px;
	/*max-width: 1205px;*/
	margin: 0 auto;
	font: 12px/36px "microsoft yahei";
	color: #333333;
}
.m-tip a{
	margin-left: 12px;
	text-decoration: none;
	color: #21a557;
}
.m-tip a:hover{
	text-decoration: underline;
}
.m-tip p,.m-tip span{
	display: inline-block;
}
.m-tip .u-notip{
	display: inline-block;
	float: right;
	margin-right: 2px;
	line-height: 36px;
	cursor: pointer;
}
.m-tip .u-sprite{
	margin-top: 1px;
	background: url(../img/sprite.png) no-repeat;
	width: 9px;
	height: 9px;
}
.m-tip span{
	margin-left: 6px;
	width: 48px;
}
@media only screen and (min-width: 0px) and (max-width: 1204px) {
	.m-tip{
		width: 100%;
	}
}
.g-head{
	width: 100%;
	height: 89px;
	overflow: hidden;
}
.m-head{
	width: 1205px;
	margin: 0 auto;
	height: 100%;
}
.m-head .m-logo{
	float: left;
	margin-right: 30px;
}
.m-head .logo1{
	padding-right: 10px;
	border-right: 1px solid #39a030;
	font:28px/89px "gill sans mt" bold;
	color: green;
}
.m-head .logo2{
	font: 22px/89px "Hiragino Sans GB";
	color: #333333;
}

.m-head .m-follow{
	float: left;
}
.m-head .u-follow-btn{
	float: left;
	margin-top: 34px;
	margin-right: 14px;
	width: 54px;
	height: 21px;
	background-color:#21a557;
	border-radius: 1px;
}
.m-head .u-follow-btn .u-sprite{
	float: left;
	margin: 7px 5px 6px 9px;
	background: url(../img/sprite.png) -125px 0px no-repeat;
	width: 8px;
	height: 8px;
}
.m-head .u-follow-btn .u-follow{
	font:12px/21px simsun;
	color: white;
}
.m-head .m-follow .fans{
	font:12px/89px simsun;
	color: #666666;
}

.m-head .u-unfollow-btn{
	float: left;
	margin-top: 34px;
	margin-right: 14px;
	width: 104px;
	height: 19px;
	background-color:#f8f8f8;
	border: 1px solid #efefef;
	border-radius: 1px;	
}
.m-head .u-unfollow-btn .u-sprite{
	float: left;
	margin: 5px;
	background: url(../img/sprite.png) -86px 0px no-repeat;
	width: 11px;
	height: 9px;
}
.m-head .u-unfollow-btn .u-follow{
	font:12px/19px simsun;
	color: #333333;
}
.m-head .u-unfollow-btn .u-follow span{
	color: #999999;	
}
.m-head .unfollow{
	cursor: pointer;
}
.m-head .u-unfollow-btn:hover{
	background-color:#ffffff;
}
.m-head .u-unfollow-btn:hover .unfollow{
	text-decoration: underline;
	color: #21a557;
}
.m-head .m-nav{
	float: right;
}
.m-head .m-nav ul{
	overflow: hidden;
}
.m-head .m-nav li{
	display: inline-block;
	margin-left: 54px;
}
.m-head .m-nav .u-sprite{
	float: right;
	margin: 35px 14px;
	background: url(../img/sprite.png) no-repeat -23px 0;
	width: 19px;
	height: 19px;
}
.m-head .m-nav a{
	font: 16px/89px "Hiragino Sans GB";
	color: #666666;
	text-decoration: none;
}
.m-head .m-nav a:hover{
	color:#39a030 ;
}
@media only screen and (min-width: 0px) and (max-width: 1204px) {
	.m-head{
		width: 100%;
}
}

.g-nav1{
	width: 100%;
	height: 460px;
	overflow: hidden;
}
.g-nav1 .m-silder{
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
}
.m-silder .box{
	width: 100%;
	background: deepskyblue;
}
.m-silder .box li{
	position: absolute;
	width: 100%;
	left: 50%;
	margin-left: -826px;
	z-index: -9999;
}
@media only screen and (min-width: 1652px){
	.m-silder .box li{
		left: 0;
		right: 0;
		margin-left:0;
	}
	.m-silder .box li img{
		width: 100%;
	}
}

/*------------------------------------------*/
.g-nav2{
	width: 100%;
	height: 295px;
	overflow: hidden;
}
.g-nav2 .m-intro{
	height: 295px;
	width: 1205px;
	margin:  0 auto;
	/*width: 100%;*/
}
.m-intro .box{
	margin-left: -70px;
}
.m-intro .box .item{
	float: left;
	padding-left: 70px;
	height: 100%;
	width: 33.33%;
	box-sizing: border-box;
}
.m-intro .item .u-sprite{
	float: left;
	margin-left: 5px;
	margin-top: 68px;
	margin-right: 20px;
	width: 80px;
	height: 80px;
}

.m-intro .item1 .u-sprite{

	background: url(../img/sprite.png) no-repeat 0 -24px;
}
.m-intro .item2 .u-sprite{
	background: url(../img/sprite.png) no-repeat -89px -24px;
}
.m-intro .item3 .u-sprite{
	background: url(../img/sprite.png) no-repeat -180px -24px;
}
.m-intro .u-content{
	overflow: hidden;
	font: 14px/24px "microsoft yahei";
}
.m-intro .u-content h1{
	padding-top: 60px;
	font-size: 22px;
	line-height: 20px;
	color: #333333;
}
.m-intro .u-content p{
	padding-top: 20px;
	color: #666666;
}
.m-intro .u-content a{
	display: block;
	padding-top: 34px;
	color: #39a030;
	text-decoration: none;
}
.m-intro .u-content a:hover{
	text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width: 1204px) {
	.g-nav2 .m-intro{
		width: 980px;
		/*width: 100%;*/
		min-width: ;
	}
}
.g-nav3{
	width: 100%;
	height: 222px;
	background: #f8f8f8;
	position:relative;
	overflow: hidden;
}
.m-flickr{
	padding-top: 2px;
	width: 1605px;
	position:absolute;
    left:50%;
    margin-left:-802.5px;
}
.m-flickr ul{
	margin-left: -4px;
}
.g-nav3 li{
	display: inline-block;
	float: left;
	padding-left: 4px;
	/*height: 100%;*/
	width: 20%;
	box-sizing: border-box;
}
/*------------------------------------------*/







